#app {
  position: relative;
}
.row {
  margin-right: 0;
}
p {
    margin-top: 0px;
    margin-bottom: 0px;
}
body {
  background-color: #e9e9e9;
}
.content {
  position: absolute;
  top: 0;
  right: 0;
  left: 200px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  z-index: 100;
  padding: 10px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  overflow-y: auto;
}
.resetBatton {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  margin: 10px;
}

.sidebar::-webkit-scrollbar-track {
	background-color: #F5F5F5;
}

.sidebar::-webkit-scrollbar {
	width: 4px;
	background-color: #F5F5F5;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 5px;
}